<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Journey</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
  
<nav>

    <img src="/image/foxlogo.jpg" class="logo1" alt="Logo error">
</nav>
<nav class="navbar">
    <ul>

        <li class="list"><a href="/"> Blog</a></li>
        <li class="list"><a href="/contact "> Contact</a></li>
        <li class="list"><a href="/about"> About</a></li>
        <li class="list"><a href="/compose"> Compose</a></li>
        <li class="list"> <a href="/"> Home</a></li>

    </ul>
</nav>
<body>

