<%- include('partials/header'); -%>
 <link rel="stylesheet" href="/css/style.css">

 <h1>Compose</h1>


 <form action="/compose"  method="POST">
       
    
         <h3> tiltle</h3>
         <input   class="inputcompose"  name="inputdata"  type="text" >
         <h3> Post</h3>
         <textarea name="textareadata" id="" cols="30" rows="5"></textarea>
         <button type="submit"   class="btr" name="button"  >Publish</button>
</form>